<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="stylesheet" href="https://highlightjs.org/static/demo/styles/stackoverflow-dark.css">

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="min-h-screen flex flex-col">
        <header class="bg-black text-white p-4 flex-grow-0">
            {{ include('_header.html.twig') }}
        </header>
        <main class="flex-grow">
            {% block body %}{% endblock %}
        </main>
        <footer class="bg-black p-4 flex-grow-0">
            2021c
        </footer>
    </body>
</html>
